# Ignore virtual environment
venv/
backend/venv/
__pycache__/
*.pyc

# Node.js / frontend dependencies
node_modules/

# OS-specific
.DS_Store
Thumbs.db

# Python notebooks
*.ipynb_checkpoints

# VS Code
.vscode/

# Logs
*.log
